#toplogo {
    height: 85%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.navbar-brand {
    padding: 0px;
}

.dropdown-form {
    height: 300%;
    width: 400%;
}

.ui-autocomplete {
    z-index: 100 !important;
}

.footer {
    color: aquamarine;
}

.sign-form{
    height: 50%;
    margin-left:10px;

}

.glyphicon.glyphicon-record{
    color: palegreen;

}

#datetimepicker{
    padding-top: 20px;
}

