#toplogo {
    height: 85%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.navbar-brand {
    padding: 0;
}

.container-fluid {
    background-color: white;
}

h2 {
    color: #666666;
}

.nav.navbar-nav.navbar-right {
    color: #666666;
}

.dropdown-form {
    height: 300%;
    width: 400%;
}

.ui-autocomplete {
    z-index: 100 !important;
}

#map {
    border: 1px solid #ccc;
    top: 22px;
}

.glyphicon.glyphicon-record {
    color: palegreen;

}

.glyphicon.glyphicon-log-in {
    color: palegreen;
}

#datetimepicker {
    padding-top: 20px;
}

footer {
    position: absolute;
    background: linear-gradient(to right, #6bc49b, palegreen);
    color: aquamarine;
    bottom: -50px;
    width: 1347px;
}

p {
    padding: 4px;
    margin-left: 25%;
    margin-right: 25%;
    width: 60%;
    color: #666666;

}

.centered-container {
    margin-left: 25%;
    margin-right: 25%;
}

form.signform-form input {
    width: 384px;
}

#signform-submit {
    margin-left: 25%;
    margin-top: 20px;
}

.btn-default {
    background: palegreen;
    width: -webkit-fill-available;
}

