{% extends "planner/elements/base_page.html" %}
{% load static %}
{% block head %}{% endblock %}
{% block content %}
    {{ formset.media }}
    <form action="" method="post">
        {{ form.as_p }}
        {{ formset.form_management }}
        {% for form_loop in formset %}
            <div class="inline {{ formset.prefix }}">
                {{ form_loop.as_p }}
            </div>
        {% endfor %}
    </form>
    <script src="{% static "planner/js/jquery.formset.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $(".inline.{{ formset.prefix }}").formset({
                prefix: "{{ formset.prefix }}", // The form prefix for your django formset
                addCssClass: "btn btn-block btn-primary bordered inline-form-add", // CSS class applied to the add link
                deleteCssClass: "btn btn-block btn-primary bordered", // CSS class applied to the delete link
                addText: 'Add another question', // Text for the add link
                deleteText: 'Remove question above', // Text for the delete link
                formCssClass: 'inline-form' // CSS class applied to each form in a formset
            })
        });
    </script>
{% endblock %}