{% extends "planner/elements/base_page.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h2> Risultati per la ricerca effettuata:</h2><br/>
    {% if not object_list   %}
        <h3>Viaggio non trovato,inserisci altri parametri di ricerca.</h3>
        <a href="{% url 'planner:homepage' %}">
            <button id="newtrip-button" class="btn-success" >Torna alla Home</button>
        </a>
    {% endif %}
    {% for dict in object_list %}
        <div class="trip_result">
            <span>
            <div class="list-group-item">
            <h4 class="list-group-item-heading">
            {% for step in dict.steps %}
                {{ step.origin.name|add:" 🢡 " }}
            {% endfor %}
                {% with dict.steps|last as last %}
                    {{ last.destination.name }}
                    </h4>
                    <p class="list-group-item-text"><span>Dalle {{ dict.steps.0.hour_origin }} alle {{ last.hour_destination }} | <b>Prezzo massimo</b>: € {{ dict.max_price }}</span></p>
                    </div><br>
                    </span>
                    <form method="post" action="{% url 'planner:trip-join' trip_id=dict.steps.0.trip.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="step_min" value="{{ dict.steps.0.order }}"/>
                    <input type="hidden" name="step_max" value="{{ last.order }}"/>
                {% endwith %}
                <button id="newtrip-button" class="btn-success" type="submit">Unisciti</button>
                </form><br>
        </div>
    {% endfor %}

{% endblock %}