{% extends "planner/elements/base_page.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h2> Risultati per la ricerca effettuata:</h2><br>
    {% for trip in object_list %}
        <div class="trip_result">
            <span>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
            {% for step in trip %}
                {{ step.origin.name|add:" -> " }}
            {% endfor %}
                {% with trip|last as last %}
                    {{ last.destination.name }}
                    - {{ trip.0.hour_origin }} : {{ trip.0.hour_destination }}
                    </h4>
                    <p class="list-group-item-text"> <span>{{ trip.0.trip.date_origin }}</span>; max_num_passengers: {{ trip.0.trip.max_num_passengers }} ; max price:{{ trip.0.max_price}} </p>
                    </a><br>
                    </span>
                    <form method="post" action="{% url 'planner:trip-join' trip_id=trip.0.trip.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="step_min" value="{{ trip.0.order }}"/>
                    <input type="hidden" name="step_max" value="{{ last.order }}"/>
                {% endwith %}
                <input type="submit"/>
                </form><br>
        </div>
    {% endfor %}
{% endblock %}