{% extends "planner/elements/base_page.html" %}
<head>
    <title>Sign up</title>
    {% include 'planner/elements/base_head.html' %}
    {% block head %}{% endblock %}
</head>
{% block content %}
    <div class="centered-container" style="height: 40%; padding: 8px;">
        <form class="signform-form" method="post" action="{% url 'planner:user-signup' %}">
            {% csrf_token %}
            {{ user_signup.as_p }}
            {{ profile_signup.as_p }}
            <button id="signform-submit" class="btn btn-success">Sign up</button>
        </form>
    </div>
{% endblock %}