{% extends "planner/elements/base_page.html" %}
{% block head %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}
{% block content %}
    <span>
        <h3>Nome utente:  {{ viewed_user.first_name }} {{ viewed_user.last_name }}</h3>
    </span>
    <div>
        {% if driving_license_form %}
            <form class="userprofile-form" method="post" action="{% url 'planner:user-profile' user_id=user.pk %}">
                {% csrf_token %}
                {{ driving_license_form.as_p }}
                <input id="newtrip-button" class="btn-success" type="submit" style="margin-left: 5px;"/>
            </form>
        {% endif %}
    </div>

    {% if passenger_trip_list %}
        <div class="list-group">
            <h2> Viaggi a cui hai preso parte</h2><br>
            {% for trip in passenger_trip_list %}
                <div class="trip_result">
            <span>
            <div class="list-group-item">
            <h4 class="list-group-item-heading">
            {% for step in trip %}
                {{ step.origin.name|add:" 🢡 " }}
            {% endfor %}
                {% with trip|last as last %}
                    {{ last.destination.name }}
                    </h4>
                    <p class="list-group-item-text"><span>Dalle {{ trip.0.hour_origin }} alle {{ last.hour_destination }} | {{ last.trip.date_origin }}</span></p>
                    </div>
                    </span>
                {% endwith %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    {% if driver_trip_list %}
        <div class="list-group">
            <h2> Viaggi come guidatore</h2><br>
            {% for trip in driver_trip_list %}
                <div class="trip_result">
            <span>
            <div class="list-group-item">
            <h4 class="list-group-item-heading">
            {% for step in trip %}
                {{ step.origin.name|add:" 🢡 " }}
            {% endfor %}
                {% with trip|last as last %}
                    {{ last.destination.name }}
                    </h4>
                    <p class="list-group-item-text"><span>Dalle {{ trip.0.hour_origin }} alle {{ last.hour_destination }} | {{ last.trip.date_origin }}</span></p>
                    <a href="#" title="Passeggeri" data-toggle="popover" data-trigger="hover" data-html="true"
                       data-content="
                               {% for step in trip %}{% for pass in step.passengers.all %}{{ pass.base_user.first_name }} {{ pass.base_user.last_name }}: {{ pass.cellphone_number }}<br>{% endfor %}<hr>{% endfor %}">Passeggeri</a>
                    </div>
                    </span>
                {% endwith %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}