{% extends "planner/elements/base_page.html" %}
{% block head %}{% endblock %}
{% block content %}
    <span>
        <h3>Nome utente:  {{ viewed_user.first_name }} {{ viewed_user.last_name }}</h3>
    </span>
    <div>
        {% if driving_license_form %}
            <form method="post" action="{% url 'planner:user-profile' user_id=user.pk %}">
                {% csrf_token %}
                {{ driving_license_form.as_p }}
                <input type="submit"/>
            </form>
        {% endif %}
    </div>

    <div class="list-group">
        <h2> Viaggi a cui hai preso parte:</h2><br>
        {% for trip in trip_list %}
            <span>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                {% for step in trip %}
                    {{ step.origin.name|add:" -> " }}
                {% endfor %}
                {% with trip|last as last %}
                    {{ last.destination.name }}
                {% endwith %}
                - {{ trip.0.hour_origin }} : {{ trip.0.hour_destination }}
            </h4>
            <p class="list-group-item-text"> <span>{{ trip.0.trip.date_origin }}</span></p>
        </div><br>
        </span>
        {% empty %}
            <li>Non hai ancora preso parte a nessun viaggio.</li>
        {% endfor %}
    </div>
{% endblock %}