<!DOCTYPE html>
<html lang="it">
<head>
    <title>{% block title %}Page title{% endblock %}</title>
    {% include 'planner/elements/base_head.html' %}
    {% block head %}Additional head info{% endblock %}

</head>
<body>
{% include "planner/elements/navbar.html" %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}Page content{% endblock %}
<footer class="footer">
    <div id="footer-icon">
        <i id="icon-user" class="fa fa-users fa-3x" aria-hidden="true"></i>
        <i id="icon-envelope" class="fa fa-envelope fa-4x" aria-hidden="true"></i>
        <i id="icon-comments" class="fa fa-comments fa-4x" aria-hidden="true"></i>
    </div>
</footer>
</body>
</html>