<!DOCTYPE html>
<html lang="it">
<head>
    <title>{% block title %}Page title{% endblock %}</title>
    {% include 'planner/elements/base_head.html' %}
    {% block head %}Additional head info{% endblock %}

</head>
<body>
{% include "planner/elements/navbar.html" %}
{% block content %}Page content{% endblock %}
<footer>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <span class="navbar-text pull-left"> Prof non è che ci sgancia un 28?</span>
    </div>
</footer>
</body>
</html>