{% url 'planner:login' as login_url %}
<form id="login_form" {% if request.path != login_url %}class="navbar-form navbar-right"{% endif %} method="post"
      action="{% url 'planner:login' %}">
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{ login_form.email }}
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ login_form.password }}
    </div>
    <button class="btn btn-default">Login</button>
</form>