{% load static %}
{% url 'planner:user-signup' as signup_url %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'planner:homepage' %}">
                <img src="{% static 'planner/img/logo.svg' %}" id="toplogo"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'planner:user-signup' %}">Sign up</a></li>
                {% ifnotequal request.path signup_url %}
                    <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    <div class="dropdown-menu dropdown-form" style="padding: 5px; padding-bottom: 5px;">
                        {% include 'planner/elements/login_form.html' %}
                    </div>
                {% endifnotequal %}
            </li>
            {% else %}
                <li class="dropdown">

                <a class="dropdown-toggle" href="#" role="menu"
                   data-toggle="dropdown"><span class="glyphicon glyphicon-record" aria-hidden="true"></span><span
                        style="padding-left: 5px;">{{ user.first_name }} {{ user.last_name }}</span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'planner:user-profile' user_id=user.poolinguser.id %}">Settings</a></li>
                    {% if user.poolinguser.is_driver %}
                        <li><a href="{% url 'planner:trip-create' %}">Register a trip</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'planner:user-logout' %}">Logout</a></li>
                </ul>
            {% endif %}
        </ul>
    </div>
</nav>