{% load static %}
<script>
    var coordinates_url = "{% url 'planner:city-coordinates' %}";
</script>
{{ search_trip_form.media }}
<script src="{% static 'planner/js/search_trip_form_init.js' %}"></script>
<form id="journey_form" class="journey-form col-lg-6" method="get" action="{% url 'planner:trip-search' %}">
    <h2> Organizza il tuo viaggio </h2>
    <div id="journey_basic" class="journey-basic">
           <div class="input-group">
            {{ search_trip_form.origin }}
           {{ search_trip_form.destination }}
        <div id="datetimepicker"></div>
        <button id="serchtrip-submit" class="btn-success">Cerca</button>
    </div>

    </div>

    {{ search_trip_form.datetime.as_hidden }}
</form>

<div class="homepage-newtrip">
    <h3> Vuoi creare un nuovo viaggio?
        <a href="{% url 'planner:trip-create'%}">
            <button id="newtrip-submit"  class="btn-success">Crea</button> </a></h3>
</div>